html,
body,
#container {
            height: 100%;
            width: 100%;
        }

        .input-item {
            height: 2.2rem;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content:space-around;
        }

        .btn {
            width: 6rem;
            /* margin: 0 1rem 0 1.5rem; */
        }

        .input-text {
            width: 4rem;
            margin-right: 1rem;
        }

.masker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
  
    background-color: rgba(0, 0, 0, .5);
  }